<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ion-card</ion-title>
    </ion-toolbar>

  </ion-header>
  
    <ion-card *ngFor="let item of items;let i = index" >
     
    <ion-card-header>
      <ion-label>Number index Filed: {{ i }}</ion-label>
    </ion-card-header>
    <ion-card-content> <ion-input type="number" placeholder="Enter a number{{item}}"></ion-input></ion-card-content>
    </ion-card>
  

  
</ion-content>
